body, main {
    display: flex;
  }
  body {
    flex-direction: column;
  }
  main {
    flex-direction: row;
    flex: auto;
  }
  article {
    flex: 2;
    background-color: rgba(42, 17, 65, 0.863);
    color: azure;
  }
  table {
    color: azure;
  }
  aside {
    flex: 1;
  }
  article, aside {
    overflow-y: auto;
  }
  .logo {
    font-size: 2em;
  }